    <div *ngIf="experiencia" class="experiencia">
        <div class="section section-title"><h2>Experiencia</h2><a *ngIf="isAdmin" routerLink="/formulario-experiencia"><i class="fas fa-plus"></i></a></div>
        <div  *ngFor="let trabajo of experiencia" class="section section-content">
            <img [src]="trabajo.imagenExp" alt="imagen">
            <div class="section-info">
                <h3 class="title">{{ trabajo.nombreExp }}</h3>
                <p class="description">{{ trabajo.descExp }}</p>
                <p class="period">{{ trabajo.inicioExp }} - {{ trabajo.finExp }}</p>
            </div>
            <div *ngIf="isAdmin" class="section-icons">
                <a [routerLink]="['/formulario-experiencia']" [queryParams]="{idExp: trabajo.idExp}"><i class="far fa-edit"></i></a>
                <button (click)="deleteExperiencia(trabajo.idExp)" class="btn-action"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>